﻿@{
	ViewData["NavbarItems"] = new Link[]
	{
		new Link("Books", "Book", "Index"),
		new Link("Genres", "Genre", "Index"),
		new Link("Librarians", "Librarian", "Index"),
		new Link("Readers", "Reader", "Index"),
		new Link("Writers", "Writer", "Index"),
		new Link("Publishers", "Publisher", "Index"),
		new Link("Borrows", "Borrow", "Index"),
		new Link("People", "Person", "Index")
	};
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web_dev_online_library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/web_dev_online_library.styles.css" asp-append-version="true" />
</head>
<body>
<header>
	<nav>
		<ul class="nav nav-tabs justify-content-center">
			@if (ViewData["NavbarItems"] is Link[] items)
			{
				foreach (var item in items)
				{
				    <li class="nav-item">
					<a
					    class="
					    nav-link 
					    text-dark 
					    @(item.Controller.Equals(ViewContext.RouteData.Values["controller"]?.ToString()) ? "active" : "")"
					    asp-area=""
					    asp-controller=@item.Controller
					    asp-action=@item.Action>
					    @item.Name
					</a>
				    </li>
				}
			}
			<li class="nav-item col"></li>
			<a asp-controller="Seeding" asp-action="ExtendDbWithDummies"><button type="button" class="btn btn-link">Extend Db Tables with Dummy Values</button></a>
			<!--<a asp-controller="Seeding" asp-action="FailExtendDbWithDummies"><button type="button" class="btn btn-link">Fail Extend Db Tables with Dummy Values</button></a>-->
		</ul>
	</nav>
</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
