@model IEnumerable<web_dev_online_library.Models.Person>

@{
    ViewData["Title"] = "People";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
	<div class="row">

        <aside class="col-lg-2">
		<div class="flex-shrink-0 p-3 bg-white">
		<form method="get">
		    <div class="form-group">
			<label class="control-label">Name</label>
			<input name="name" class="form-control" value="@ViewBag.FilterName" />
		    </div>
		    <div class="form-group">
			<label class="control-label">Surname</label>
			<input name="surname" class="form-control" value="@ViewBag.FilterSurname" />
		    </div>
		    <div class="form-group">
			<input type="submit" value="Filter" class="btn btn-primary" />
		    </div>
		</form>
            </div>
        </aside>
	<div class="col">
		<table class="table">
		    <thead>
			<tr>
			    <th>
				@Html.DisplayNameFor(model => model.Name)
			    </th>
			    <th>
				@Html.DisplayNameFor(model => model.Surname)
			    </th>
			    <th></th>
			</tr>
		    </thead>
		    <tbody>
		@foreach (var item in Model) {
			<tr>
			    <td>
				@Html.DisplayFor(modelItem => item.Name)
			    </td>
			    <td>
				@Html.DisplayFor(modelItem => item.Surname)
			    </td>
			    <td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			    </td>
			</tr>
		}
			<tr>
				<td>
				    <a asp-action="Create">Create New</a>
				</td>
				<td></td>
				<td></td>
			</tr>
		    </tbody>
		</table>
	</div>
</div>
