@model IEnumerable<web_dev_online_library.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
	<div class="row">

        <aside class="col-lg-2">
		<div class="flex-shrink-0 p-3 bg-white">
		<form method="get">
		    <div class="form-group">
			<label class="control-label">Name</label>
			<input name="name" class="form-control" value="@ViewBag.FilterName" />
		    </div>
		    <div class="form-group">
			<label class="control-label">Pages Amount</label>
			<input name="pagesAmount" class="form-control" value="@ViewBag.FilterPagesAmount" />
		    </div>
		    <div class="form-group">
			<label class="control-label">Genre</label>
			<select name="genre" class="form-control" asp-items="@ViewBag.GenreSelection"></select>
		    </div>
		    <div class="form-group">
			<label class="control-label">Publisher</label>
			<select name="publisher" class="form-control" asp-items="@ViewBag.PublisherSelection"></select>
		    </div>
		    <div class="form-group">
			<label class="control-label">Sort By</label>
			<select name="orderBy" class="form-control" asp-items="@ViewBag.OrderBySelection"></select>
		    </div>
		    <div class="form-group">
			<input type="submit" value="Filter" class="btn btn-primary" />
		    </div>
		</form>
            </div>
        </aside>
	<div class="col">
		<table class="table">
		    <thead>
			<tr>
			    <th>
				@Html.DisplayNameFor(model => model.Name)
			    </th>
			    <th>
				@Html.DisplayNameFor(model => model.PagesAmount)
			    </th>
			    <th>
				@Html.DisplayNameFor(model => model.PublicationDate)
			    </th>
			    <th>
				@Html.DisplayNameFor(model => model.Genre)
			    </th>
			    <th>
				@Html.DisplayNameFor(model => model.Publisher)
			    </th>
			    <th></th>
			</tr>
		    </thead>
			<tbody>
				@foreach (var item in Model) {
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.PagesAmount)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.PublicationDate)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Genre.Id)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Publisher.Id)
						</td>
						<td>
							<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
							<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
							<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
						</td>
					</tr>
				}
				<tr>
					<td>
						<a asp-action="Create">Create New</a>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
