@model IEnumerable<web_dev_online_library.Models.Genre>

@{
    ViewData["Title"] = "Genres";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
	<div class="row">
        <aside class="col-lg-2">
		<div class="flex-shrink-0 p-3 bg-white">
			<h2>In Stock</h2>
			<ul>
			@foreach (string genre in ViewBag.InStock) 
			{
				<li>@genre</li>
			}
			</ul>
		</div>
        </aside>
	<div class="col">

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
	<tr>
		<td>
		    <a asp-action="Create">Create New</a>
		</td>
		<td></td>
	</tr>
    </tbody>
</table>
	</div>
</div>
